<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  
  <div class="secondary-nav secondary-nav-invert">
    <i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
    <h2 class="font-invert"><b>Profile Settings</b></h2>
    <h3 class="font-invert"><%= current_user.first_name %>'s Profile</h3>
  </div>
  
  <div class="content-container">
    
    <div class="panel-secondary">
      <div class="panel-title">
       Edit My Profile
      </div>
    </div>

    <div class="panel-body form-container">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-label">Name</div>
            <div class="form-label">Email</div>
            <div class="form-label">Role</div>
            <div class="form-label">New Password</div>
            <br>
            <div class="form-label">Current Password</div>
          </div>
          <div class="col-xs-12 col-sm-9">
            <%= f.text_field :name, placeholder: "full name", class: "form-control" %> 
            <%= f.email_field :email, placeholder: "email", disabled: "disabled", class: "form-control" %> 
            
            <% if current_user.name == "Pranav Gupta" %>
              <%= f.text_field :user_type, placeholder: "role", class: "form-control" %>  
            <% else %>
              <%= f.text_field :user_type, placeholder: "role", disabled: "disabled", class: "form-control" %>  
            <% end %>

            <%= f.password_field :password, placeholder: "leave blank if you don't want to change it", :autocomplete => "off", class: "form-control" %>  
            <br>
            <%= f.password_field :current_password, placeholder: "* we need this to confirm your changes", class: "form-control" %>  
            
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.submit "SAVE CHANGES", class: "btn btn-block btn-green" %> 
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="content-container">
    
    <div class="panel-secondary">
      <div class="panel-title">
       Delete My Profile
      </div>
    </div>

    <div class="panel-body form-container">

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="form-label">Unhappy?</div>
        </div>
        <div class="col-xs-12 col-sm-9">
          <%= link_to "DELETE MY PROFILE", registration_path(resource_name), :data => { :confirm => "Are you sure? All your progress will be lost. And this step cannot be reversed." }, :method => :delete, class: "btn btn-block btn-red" %>
          <p class="form-radio"><em>* I understand that this step cannot be reversed and all my progress will be lost.</em></p>
        </div>
      </div>

    </div>

  </div>
</div>