<% if user_signed_in? %>
<!-- RESEARCHER HOME -->
	<% if current_user.user_type == "researcher" %>
		
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="secondary-nav secondary-nav-invert">
				<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
				<h2 class="font-invert"><b>Hi <%= current_user.first_name %>!</b></h2>
				<h3 class="font-invert">As a researcher you have <%= @participants.count %> participant accounts and have hosted <%= pluralize( current_user.studies.count, 'study' ) %>.</h3>
			</div>

			<!-- RESEARCHER'S STUDIES -->
					<div class="content-container">
						<div class="panel-secondary">
			  		  <div class="panel-title">
			  			  Study List
			  		  </div>
			  		</div>

			  		<div class="panel-body">

			  			<table class="table table-condensed table-hover">
			  			  <thead>
			  			    <tr>
			  			      <th>Created on</th>
			  			      <th>Study Title</th>
			  			      <th>No. of Games</th>
			  			      <th>Status</th>
			  			      <th colspan="1"></th>
			  			    </tr>
			  			  </thead>

			  			  <tbody>
			  			    <% current_user.studies.sort_by(&:created_at).reverse.each do |study| %>
			  			      <tr>
			  			        <td><%= study.created_at.strftime("%b %d, %Y") %></td>
			  			        <td class="one-line-cell"><%= study.title %></td>
			  			        <td><%= study.games.count %></td>
			  			        <td><%= if study.completed then "Completed" else "In Progress" end %></td>
			  			        <td class="center <%= if !study.completed then "panel-green" end %>"><a href="<%= study_path(study) %>"><i class="fa fa-arrow-right"></a></td>
			  			      </tr>
			  			    <% end %>
			  			  </tbody>
			  			</table>

			  			<%= link_to controller: "studies", action: "new" do %>
								<div class="center col-sm-6 col-sm-offset-3">
				          <button type="button" class="btn btn-block btn-green">+ ADD STUDY</button>
				        </div>
							<% end %>

			  		</div>
					</div>


			<!-- RESEARCHER'S STUDIES -->
					<div class="content-container">
						<div class="panel-secondary">
			  		  <div class="panel-title">
			  			  Participant Account List
			  		  </div>
			  		</div>

			  		<div class="panel-body">

			  			<table class="table table-condensed table-hover">
			  			  <thead>
			  			    <tr>
			  			      <th>Email</th>
			  			      <th>Name</th>
			  			      <th>Screenname</th>
			  			      <th>Status</th>
			  			    </tr>
			  			  </thead>

			  			  <tbody>
			  			    <% @participants.each do |participant| %>
			  			      <tr>
			  			        <td><%= participant.email %></td>
			  			        <td><%= participant.player_name %></td>
			  			        <td><%= participant.player_screenname %></td>
			  			        <td><%= participant.user_status %></td>
			  			      </tr>
			  			    <% end %>
			  			  </tbody>
			  			</table>

			  		</div>
					</div>
		</div>
	
<!-- PARTICIPANT HOME -->
	<% else %>
		
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">

		<!-- OFFLINE MODE: CONSENT FORM -->
			<% if current_user.user_status == "offline" %>
				
				<!-- CONSENT FORM -->
					<% if current_user.valid_read == false %>

						<div class="secondary-nav secondary-nav-invert">
							<i class="fa fa-2x fa-clipboard content-list-icon-primary pull-left"></i>
							<h2 class="font-invert"><b>Hi <%= current_user.first_name %>!</b></h2>
							<h3 class="font-invert">Before we begin, please tell us a little about yourself.</h3>
						</div>
					
						<div class="content-container">
				  		<div class="panel-body" style="margin-bottom:30px;">

				  			<div class="h-primary">CONSENT FORM</div>
				  			<!-- <div class="h-primary">ABOUT YOU</div> -->
				  			<br>

								<!-- CONSENT FORM TEXT -->
									<!-- <%= render "pages/consent_cmu" %> -->
									<%= render "pages/consent_purdue" %>
					  			<br><br>

					  		<!-- FORM ITEMS -->

									<%= form_tag("/activate_user", method: :post) do %>
										
										<div class="row">							  
											<div class="col-xs-12 col-sm-9">
										    <!-- <div class="form-label" style="text-align:left; padding: 10px 0 6px 30px;"><b>I am age 18 or older.</b></div> -->
										    <div class="form-label" style="text-align:left; padding: 11px 0 6px 30px;"><b>I have read and understand the information above.</b></div>
										    <div class="form-label" style="text-align:left; padding: 12px 0 6px 30px;"><b>I want to participate in this research and continue with the game.</b></div>
										  </div>

										  <div class="col-xs-12 col-sm-3">
										  	<!-- <p class="form-radio">
												  <%= radio_button_tag(:age, true) %>
												  <%= label_tag(:age_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:age, false, true) %>
												  <%= label_tag(:age_false, "No") %>
												</p> -->
												<p class="form-radio">
												  <%= radio_button_tag(:read, true, true) %>
												  <%= label_tag(:read_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:read, false) %>
												  <%= label_tag(:read_false, "No") %>
												</p>
												<p class="form-radio">
												  <%= radio_button_tag(:consent, true, true) %>
												  <%= label_tag(:consent_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:consent, false) %>
												  <%= label_tag(:consent_false, "No") %>
												</p>
											</div>
										</div>
										<br>

										<div class="row">
										  <div class="col-xs-12 col-sm-3">
										    <div class="form-label" style="text-align:left; padding-left: 30px;">
										    	<b>Full Name</b>
										    	<!-- <b>Unique ID</b> -->
										    </div>
										    <div class="form-label" style="text-align:left; padding-left: 30px;"><b>Your Gender</b></div>
										    <div class="form-label" style="text-align:left; padding-left: 30px;"><b>Your Age</b></div>
										  </div>
										  <div class="col-xs-12 col-sm-9">
												<%= text_field_tag :full_name, nil, placeholder: "full name", class: "form-control" %>
												<div class="form-control-select">
									        <%= select_tag :gender, options_for_select(["Male","Female","Other"]), class: "form-control" %>
									      </div>
									      <div class="form-control-select">
									        <%= select_tag :actual_age, options_for_select(18..40), class: "form-control" %>
									      </div>
											</div>
										</div><br>

										<% if current_user.player_screenname != '' %>
											<div class="center">Your in-game username is <b><%= current_user.player_screenname %></b></div>
										<% end %>

										<%= hidden_field_tag(:user_id, current_user.id) %>
										<%= hidden_field_tag(:age, true) %>
										<!-- <%= hidden_field_tag(:read, true) %> -->
										<!-- <%= hidden_field_tag(:consent, true) %> -->

										<div class="center col-sm-6 col-sm-offset-3 button-padding">
						          <%= submit_tag "I'M READY TO START TUTORIAL", class: "btn btn-block btn-green" %>
						        </div>
									<% end %>

							</div>
						</div>

				<!-- VIDEO 0: OVERVIEW -->
					<% elsif current_user.tut0 == false %>

						<div class="secondary-nav secondary-nav-invert">
							<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
							<h2 class="font-invert"><b>Hi <%= current_user.first_name %>!</b></h2>
							<h3 class="font-invert">Here is an introduction video to get you started.</h3>
						</div>

						<div class="content-container">
							<div class="panel-body" style="margin-bottom:30px;">

				  			<div class="h-primary">INTRODUCTION VIDEO</div>
				  			<br>
				  			<div class="row">  
						  			<div class="videoWrapper">
						  				<iframe src="https://www.youtube.com/embed/TeEKhxOp_6g" frameborder="0" allowfullscreen></iframe>
						  			</div>
					  		</div>
					  		<div class="center"><br>Please use headphones. <br>Use fullscreen video mode if details are hard to see.</div>

				  			<%= form_tag("/activate_tut0", method: :post) do %>

				  				<%= hidden_field_tag(:user_id, current_user.id) %>

									<div class="center col-sm-6 col-sm-offset-3 button-padding">
					          <%= submit_tag "LET'S BEGIN!", class: "btn btn-block btn-green" %>
					        </div>
								<% end %>

				  		</div>

						</div>

				
				<!-- VIDEO 1: GAME GOALS -->
					<% elsif current_user.tut1 == false %>

							<div class="secondary-nav secondary-nav-invert">
								<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
								<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
								<h3 class="font-invert">Tutorial Video 1/3.</h3>
							</div>

							<div class="content-container">
								<div class="panel-body" style="margin-bottom:30px;">

					  			<div class="h-primary">[1/3] GAME GOALS</div>
					  			<br>
					  			<div class="row">  
							  			<div class="videoWrapper">
							  				<iframe src="https://www.youtube.com/embed/mNZMFPpxIGU" frameborder="0" allowfullscreen></iframe>
							  			</div>
						  		</div>

					  			<%= form_tag("/activate_tut1", method: :post) do %>

										<table class="table table-condensed table-hover" style="margin:30px 0px;">
								      <tbody>

							          	<tr><td style="padding: 20px;">
								            <b>1. Do you need to know all the actual technical details of 'App Development process' to be able to play the game?</b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:a1, 0) %> Yes 
														  <br>
														  <%= radio_button_tag(:a1, 1) %> No 
														</p>
													</tr>

													<tr><td style="padding: 20px;">
								            <b>2. The Goal of the game is to maximize ...</b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:a2, 1) %> All my Teams' Profits
														  <br>
														  <%= radio_button_tag(:a2, 0) %> My Personal Performance 
														</p>
													</tr>

													<tr><td style="padding: 20px;">
								            <b>3. The most important 'Profit making tasks' for an app are ...</b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:b1, 1) %> App Development, Marketing and Support 
														  <br>
														  <%= radio_button_tag(:b1, 0) %> App R&D and Personal Learning 
														</p>
													</tr>

													<tr><td style="padding: 20px;">
								            <b>4. To be successful I will have to <br>&nbsp;&nbsp;"Collectively figure out how much time we allocate to individual and team tasks" ...</b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:b2, 0) %> By focusing solely on immediate profit-making tasks
														  <br>
														  <%= radio_button_tag(:b2, 0) %> By focusing majory on long term R&D and learning tasks
														  <br>
														  <%= radio_button_tag(:b2, 1) %> By balancing the immediate profit-making tasks with long term R&D and learning tasks
														</p>
													</tr>

											</tbody>
										</table>

					  				<%= hidden_field_tag(:user_id, current_user.id) %>

										<div class="center col-sm-6 col-sm-offset-3 button-padding">
						          <%= submit_tag "SUBMIT & NEXT", class: "btn btn-block btn-green" %>
						          <br>this tutorial will reload unless <br>you answer all questions correctly
						        </div>

									<% end %>

					  		</div>

							</div>

				<!-- VIDEO 2: GAME LAYOUT AND BASICS -->
					<% elsif current_user.tut2 == false %>

							<div class="secondary-nav secondary-nav-invert">
								<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
								<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
								<h3 class="font-invert">Tutorial Video 2/3.</h3>
							</div>

							<div class="content-container">
								<div class="panel-body" style="margin-bottom:30px;">

					  			<div class="h-primary">[2/3] GAME LAYOUT & BASICS</div>
					  			<br>
					  			<div class="row">  
							  			<div class="videoWrapper">
							  				<iframe src="https://www.youtube.com/embed/A7zKQ8EhS1I" frameborder="0" allowfullscreen></iframe>
							  			</div>
						  		</div>

					  			<%= form_tag("/activate_tut2", method: :post) do %>
										
										<table class="table table-condensed table-hover" style="margin:30px 0px;">
								      <tbody>

							          	<tr><td style="padding: 20px;">
								            <b>1. Doing App Development (Blue) for vChat increases ... </b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:a3, 0) %> vPhoto's Maximum User Capacity (Blue)
														  <br>
														  <%= radio_button_tag(:a3, 1) %> vChat's Maximum User Capacity (Blue)
														  <br>
														  <%= radio_button_tag(:a3, 0) %> vChat's Demand Generated (Red)
														</p>
													</tr>

													<tr><td style="padding: 20px;">
								            <b>2. Studying App Development under vPhotos increases ... </b><br>
							  						<p class="form-radio">
														  <%= radio_button_tag(:a4, 0) %> vPhoto's Maximum User Capacity
														  <br>
														  <%= radio_button_tag(:a4, 0) %> My App Development Skill and no one bears the expenses 
														  <br>
														  <%= radio_button_tag(:a4, 1) %> My App Development Skill and vPhotos bears the expenses 
														</p>
													</tr>

											</tbody>
										</table>

					  				<%= hidden_field_tag(:user_id, current_user.id) %>
											
										<div class="center col-sm-6 col-sm-offset-3 button-padding">
						          <%= submit_tag "SUBMIT & NEXT", class: "btn btn-block btn-green" %>
						          <br>this tutorial will reload unless <br>you answer all questions correctly
						        </div>
									<% end %>

					  		</div>

							</div>
		
				<!-- VIDEO 3: HOW TO PLAY -->
					<% else %>

						<div class="secondary-nav secondary-nav-invert">
								<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
								<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
								<h3 class="font-invert">Tutorial Video 3/3.</h3>
							</div>

							<div class="content-container">
								<div class="panel-body" style="margin-bottom:30px;">

					  			<div class="h-primary">[3/3] HOW TO PLAY THE GAME?</div>
					  			<br>
					  			<div class="row">  
							  			<div class="videoWrapper">
							  				<iframe src="https://www.youtube.com/embed/g0vj1uBKPU0" frameborder="0" allowfullscreen></iframe>
							  			</div>
						  		</div>

					  			<%= form_tag("/activate_tut3", method: :post) do %>
											<table class="table table-condensed table-hover" style="margin:30px 0px;">
								      <tbody>

											<tr><td style="padding: 20px;">
						            <b>1. Each App's profits are calculated at the end of every ... </b><br>
					  						<p class="form-radio">
												  <%= radio_button_tag(:a5, 1) %> Quarter
												  <br>
												  <%= radio_button_tag(:a5, 0) %> Month
												</p>
											</tr>

											<tr><td style="padding: 20px;">
						            <b>2. The goal of the game is to ... </b><br>
					  						<p class="form-radio">
												  <%= radio_button_tag(:a6, 1) %> Maximize App profits for this year by discussing 'who does what' with the teams I am on
												  <br>
												  <%= radio_button_tag(:a6, 0) %> Not discuss anything with other members and do what i want
												</p>
											</tr>

											<tr><td style="padding: 20px;">
						            <b>3. Which of the following will help me do better at the game? </b><br>
					  						<p class="form-radio">
												  <%= radio_button_tag(:a7, 0) %> Knowing the current status of both apps
												  <br>
												  <%= radio_button_tag(:a7, 0) %> Knowing my and my team members' skills across both apps 
												  <br>
												  <%= radio_button_tag(:a7, 0) %> Discussing and planning what tasks to do next in each app 
												  <br>
												  <%= radio_button_tag(:a7, 0) %> Discussing and planning who should develop which skills next
												  <br>
												  <%= radio_button_tag(:a7, 1) %> All of the above
												  <br>
												  <%= radio_button_tag(:a7, 0) %> None of the above
												</p>
											</tr>

											</tbody>
										</table>

					  				<%= hidden_field_tag(:user_id, current_user.id) %>

										<div class="center col-sm-6 col-sm-offset-3 button-padding">
						          <%= submit_tag "SUBMIT & COMPLETE", class: "btn btn-block btn-green" %>
						          <br>this tutorial will reload unless <br>you answer all questions correctly
						        </div>
									<% end %>

					  		</div>

							</div>

					<% end %>

		<!-- ACTIVE MODE: AWAITING GAME ASSIGNMENT -->
			<% elsif current_user.user_status == "active" %>

					<% if current_user.valid_read == false %>

						<div class="secondary-nav secondary-nav-invert">
							<i class="fa fa-2x fa-clipboard content-list-icon-primary pull-left"></i>
							<h2 class="font-invert"><b>Hi <%= current_user.first_name %>!</b></h2>
							<h3 class="font-invert">Before we begin, please tell us a little about yourself.</h3>
						</div>
					
						<div class="content-container">
				  		<div class="panel-body" style="margin-bottom:30px;">

				  			<div class="h-primary">CONSENT FORM</div>
				  			<!-- <div class="h-primary">ABOUT YOU</div> -->
				  			<br>

								<!-- CONSENT FORM TEXT -->
									<!-- <%= render "pages/consent_cmu" %> -->
									<%= render "pages/consent_purdue" %>
					  			<br><br>

					  		<!-- FORM ITEMS -->

									<%= form_tag("/activate_user", method: :post) do %>
										
										<div class="row">							  
											<div class="col-xs-12 col-sm-9">
										    <!-- <div class="form-label" style="text-align:left; padding: 10px 0 6px 30px;"><b>I am age 18 or older.</b></div> -->
										    <div class="form-label" style="text-align:left; padding: 11px 0 6px 30px;"><b>I have read and understand the information above.</b></div>
										    <div class="form-label" style="text-align:left; padding: 12px 0 6px 30px;"><b>I want to participate in this research and continue with the game.</b></div>
										  </div>

										  <div class="col-xs-12 col-sm-3">
										  	<!-- <p class="form-radio">
												  <%= radio_button_tag(:age, true) %>
												  <%= label_tag(:age_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:age, false, true) %>
												  <%= label_tag(:age_false, "No") %>
												</p> -->
												<p class="form-radio">
												  <%= radio_button_tag(:read, true, true) %>
												  <%= label_tag(:read_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:read, false) %>
												  <%= label_tag(:read_false, "No") %>
												</p>
												<p class="form-radio">
												  <%= radio_button_tag(:consent, true, true) %>
												  <%= label_tag(:consent_true, "Yes") %> &nbsp; &nbsp;
												  <%= radio_button_tag(:consent, false) %>
												  <%= label_tag(:consent_false, "No") %>
												</p>
											</div>
										</div>
										<br>

										<div class="row">
										  <div class="col-xs-12 col-sm-3">
										    <div class="form-label" style="text-align:left; padding-left: 30px;">
										    	<b>Full Name</b>
										    	<!-- <b>Unique ID</b> -->
										    </div>
										    <div class="form-label" style="text-align:left; padding-left: 30px;"><b>Your Gender</b></div>
										    <div class="form-label" style="text-align:left; padding-left: 30px;"><b>Your Age</b></div>
										  </div>
										  <div class="col-xs-12 col-sm-9">
												<%= text_field_tag :full_name, nil, placeholder: "full name", class: "form-control" %>
												<div class="form-control-select">
									        <%= select_tag :gender, options_for_select(["Male","Female","Other"]), class: "form-control" %>
									      </div>
									      <div class="form-control-select">
									        <%= select_tag :actual_age, options_for_select(18..40), class: "form-control" %>
									      </div>
											</div>
										</div><br>

										<% if current_user.player_screenname != '' %>
											<div class="center">Your in-game username is <b><%= current_user.player_screenname %></b></div>
										<% end %>

										<%= hidden_field_tag(:user_id, current_user.id) %>
										<%= hidden_field_tag(:age, true) %>
										<!-- <%= hidden_field_tag(:read, true) %> -->
										<!-- <%= hidden_field_tag(:consent, true) %> -->

										<div class="center col-sm-6 col-sm-offset-3 button-padding">
						          <%= submit_tag "I'M READY TO START TUTORIAL", class: "btn btn-block btn-green" %>
						        </div>
									<% end %>

							</div>
						</div>

					<% else %>
						<div class="secondary-nav secondary-nav-invert">
							<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
							<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
							<h3 class="font-invert">Your current game status</h3>
						</div>
			
						<div class="content-container">
				  		<div class="panel-body" style="margin-bottom:30px;">

								<div class="h-primary">STAGE 1 COMPLETE</div>

								<h3 class="center">PLEASE GO TO CHAT AND LET THE RESEARCHER KNOW<br><br>waiting for the computer to assign you a game</h3>	
								<div class="center col-sm-6 col-sm-offset-3 button-padding">
				          <button type="button" class="btn btn-block btn-orange active">LOOKING FOR GAME ...</button>
				          <%= link_to root_path do %>
										<div class="button-padding">
						          <button type="button" class="btn btn-block btn-green">REFRESH PAGE</button>
						        </div>
						      <% end %>
				        </div>

								<!--  <div class="center col-sm-6 col-sm-offset-3 button-padding" style="margin-top:50px;">
		              <a target="_blank" href="https://cmukwd.slack.com/messages/general<%= current_user.first_name %>/" class="btn btn-block btn-green" style = "margin: -5px -9px 0 0;"><i class="fa fa-lg fa-comments"></i> &nbsp;Go to Chat</a>

				        	<br><br><b>Welcome <%= current_user.player_screenname %>!</b><br><br>
				        	For Chat<br>	
				        	<b>Login email:</b> <%= current_user.first_name.downcase %>.kwd@gmail.com <br>
				        	<b>Password:</b> KWD_<%= current_user.first_name.downcase %>
				      	</div> -->

							</div>
				    </div>
		      <% end %>

		<!-- INACTIVE MODE: GAME NOT ASSIGNMENT -->
		  <% elsif current_user.user_status == "inactive" %>

				<div class="secondary-nav secondary-nav-invert">
					<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
					<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
					<h3 class="font-invert">Your current game status</h3>
				</div>
			
				<div class="content-container">
		  		<div class="panel-body" style="margin-bottom:30px;">

						<div class="h-primary">STUDY ENDS</div>

						<h3 class="center">the comupter did not assign you any teams for stage 2<br>your study has ended</h3>	
						<%= form_tag("/go_offline_now", method: :post) do %>
							<%= hidden_field_tag(:user_id, current_user.id) %> 
			        <div class="center col-sm-6 col-sm-offset-3 button-padding">
			          <%= button_tag(type: 'submit', class: "btn btn-block btn-red") do %>
			            I'M DONE. LOGOUT.
			          <% end %>
			        </div>
			      <% end %>

		      </div>
		    </div>

		<!-- GAME IN SESSION -->
			<% else %>

				<div class="secondary-nav secondary-nav-invert">
					<i class="fa fa-2x fa-rocket content-list-icon-primary pull-left"></i>
					<h2 class="font-invert"><b>Hi <%= current_user.player_screenname %>!</b></h2>
					<h3 class="font-invert">Your current game status</h3>
				</div>
			
				<div class="content-container">
		  		<div class="panel-body" style="margin-bottom:30px;">
						<div class="h-primary">PLAYER STATUS: <%= current_user.user_status.upcase %></div>

						<h3 class="center">game in session</h3>	
		  			<%= link_to player_path(@current_game_screen) do %>
							<div class="center col-sm-6 col-sm-offset-3 button-padding">
			          <button type="button" class="btn btn-block btn-green">GO TO GAME</button>
			        </div>
			      <% end %>

			    </div>
			  </div>

			<% end %>

		</div>

	<% end %>

<% else %>
	
	<h2>Welcome Participants!</h2>
	<p>If you already have an account <a href="/login">login here</a>, else <a href="/create_account">create your account</a>.</p>
	<br>
	<br>
	<br>
	<h2>Demo screenshots</h2>
	<p><a href="/demo_screenshots">MTM player view</a></p>

<% end %>
