  <div id="step2" class="alert alert-info" role="alert">
    <b>STEP 3/4: &nbsp;&nbsp;-----&nbsp;&nbsp; UNDERSTANDING ALL PROJECTS' INFORMATION &nbsp;&nbsp;---- </b>
    <button id="s1n" onclick="show(['s2n','s2p','s2','s2i'],['s1n','s1p','s1','s1i'])" class="btn btn-help pull-right">Begin Step 3</button>
    <a id="s1p" href="<%= tutorial_work_calendar_path %>" class="btn btn-help pull-right">Back to Step 2</a>

    <button id="s2n" onclick="show(['s3n','s3p','s3','s3i','s3i2'],['s2n','s2p','s2i'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s2p" onclick="hide(['s2n','s2p','s2','s2i'],['s1n','s1p','s1','s1i'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <button id="s3n" onclick="show(['s4n','s4p','s4','s4i','s4i2'],['s3n','s3p','s3i','s3i2'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s3p" onclick="hide(['s3n','s3p','s3','s3i','s3i2'],['s2n','s2p','s2i'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <button id="s4n" onclick="show(['s5n','s5p','s5','s5i','s5i2'],['s4n','s4p','s4i','s4i2'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s4p" onclick="hide(['s4n','s4p','s4','s4i','s4i2'],['s3n','s3p','s3','s3i','s3i2'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <button id="s5n" onclick="show(['s6n','s6p','s6','s6i'],['s5n','s5p','s5','s5i','s5i2'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s5p" onclick="hide(['s5n','s5p','s5','s5i','s5i2'],['s4n','s4p','s4i','s4i2'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <a id="s6n" href="<%= tutorial_gameplay_choices_path %>" class="btn btn-help pull-right" style="display:none;">Go to Final Step</a>
    <button id="s6p" onclick="hide(['s6n','s6p','s6','s6i'],['s5n','s5p','s5','s5i','s5i2'])" class="btn btn-help pull-right" style="display:none;">Previous</button>


  </div>

  <!-- SIDEBAR -->
  <div class="col-xs-12 col-sm-3" style="padding:0px;">

    <!-- NAME -->
    <div class="content-container" style="min-height:46px;">
      <div class="panel-primary">
        <div class="panel-title">
          Your Screen Name
        </div>
      </div>
    </div>
 
    <div class="content-container" style="min-height:557px;">

      <div class="panel-group" id="accordion-info" role="tablist" aria-multiselectable="true">
        
        <!-- LINKS -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab" >
            <div class="panel-title">
              Vandeley Apps
            </div>
          </div>
          
          <div id="links" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              <b>My Projects</b>
              <% @sample_projects.each do |project| %>
                <br>&nbsp;&nbsp;
                <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                <a href="#<%= project %>" aria-controls="<%= project %>" role="tab" data-toggle="tab" class="primary-a"><%= project %></a>
              <% end %>
              <br><br>
              <a href="#my_schedule" aria-controls="my_schedule" role="tab" data-toggle="tab" class="primary-a">
                <b>My Work Calendar</b>
              </a>
            </div>
          </div>
        </div>

        <!-- SALARY -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab" >
            <div class="panel-title">
              Performance
            </div>
          </div>
          
          <div id="performance" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              <div class="h-primary"><%= number_to_currency(0, negative_format: "(%u%n)", precision: 0) %></div>
              <h3 class="center">Net Apps Profit (Q1)</h3>
            </div>
          </div>
        </div>

        <!-- SKILLS -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab">
            <div class="panel-title">
              My Skill Set
            </div>
          </div>
          
          <div id="skills" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              
              <% 4.times do |i| %>
                <% level_range = $SKILL_LEVELS.detect { |points,level| level === @sample_skill_level[i] }.first %>
                <% skill_progress_ratio = (@sample_skill_total_points[i]-level_range.begin)*100/(level_range.end-level_range.begin) %>
                <div class="cpi-goal">  
                  <div class="pull-left" style="margin-left:36px;">
                    <span class="font-secondary">  <%= $SKILL_LEVELS_NAMES[@sample_skill_level[i]][:name] %></span>
                    <%= $SKILL_NAMES[i] %>
                    <% skill_p = ($SKILL_PRODUCTIVITY[i+1][@sample_skill_level[i]]*2/@gs_adjustment_factor).to_i %>
                    <% skill_s = ($SKILL_SALARY[i+1][@sample_skill_level[i]]*2/@gs_adjustment_factor).to_i %>
                    <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= "--- Level #{$SKILL_LEVELS_NAMES[@sample_skill_level[i]][:icon]} #{$SKILL_NAMES[i]} --- #{$STATS_NAMES[i]} ++ Productivity: #{skill_p} /wk Salary: $#{skill_s} /wk" %>"></i> 
                  </div>
                  <div class="pull-right">
                    <%= @sample_skill_total_points[i]-level_range.begin %><span class="font-secondary">/<%= level_range.end-level_range.begin+1 %></span>
                  </div>
                  <div class="progress-level progress-bar-<%= i+1 %> center"><%= $SKILL_LEVELS_NAMES[@sample_skill_level[i]][:icon] %></div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-<%= i+1 %>" role="progressbar" aria-valuenow="<%= skill_progress_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill_progress_ratio %>%">
                      <span class="sr-only"><%= skill_progress_ratio %>%</span>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>

    <a target="_blank" onclick="return false" href="#">Link to Team Chat</a>

  </div>

  <!-- MAIN CONTAINER: DEMO -->
  <div id="s1" class="col-xs-12 col-sm-9" style="padding-right:0px;">
    <div class="content-container" style="min-height:46px;">
      <div class="panel-primary">
        <div class="panel-title">
          Work Calendar / Project Information
        </div>
      </div>
    </div>

    <div class="content-container" style="min-height:577px;">
      <div id="s1i" class="alert alert-success alert-cushion center" role="alert">
        <b>Your Work Dashboard Area</b><br>
        Your Work Calender and Projects' Information,<br>both are displayed in this area.
      </div>
    </div>
  </div>

  <!-- MAIN CONTAINER: PROJECT 1 -->
  <div id="s2" class="col-xs-12 col-sm-9" style="padding-right:0px; display:none;">
    <!-- TABS -->
    <div class="tab-content">

      <!-- TAB 2-N: PROJECTS -->

      <% @sample_projects.each_with_index do |project,k| %>
        <div role="tabpanel" class="tab-pane <%= "active" if k==0 %>" id="<%= project %>">
          
          <div class="content-container" style="min-height:46px;">
            <!-- TAB NAME -->
            <div class="panel-primary">
              <div class="panel-title">
                <%= project %> 
                <a href="#" class="btn btn-sm btn-invert pull-right supress-a" style = "margin: -5px; -5px 0 0"><i class="fa fa-refresh"></i> &nbsp;Refresh</a>
              </div>
            </div>
          </div>

          <div class="content-container">
            <div class="panel-secondary">
              <div class="panel-title">
                <%= project %> :: Beginning <%= get_month_name(1) %> Status 
              </div>
            </div>

            <div id="s3" class="panel-body" style="padding-bottom:25px; display:none;">
              
              
              <!-- PERFORMANCE -->
              <div class="col-sm-4 center">
                <div class="h-primary" style="margin-bottom:27px;">PERFORMANCE</div>

                <table class="table table-condensed table-hover">
                  
                  
                    <tr>
                      <td class="left">Q1 Expenses</td>
                      <td class="right"><%= number_to_currency(0, negative_format: "(%u%n)", precision: 0) %></td>
                    </tr>

                    <tr>
                      <td class="left">Q1 Revenue</td>
                      <td class="right"><%= number_to_currency(0, negative_format: "(%u%n)", precision: 0) %></td>
                    </tr>
                    
                  
                  <tr>
                    <td class="left"><b>Team's Net Profit</b></td>
                    <td class="right"><b><%= number_to_currency(0, negative_format: "(%u%n)", precision: 0) %></b></td>
                  </tr>
                </table>

              </div>

              <!-- STATS -->
              <div class="col-sm-4 center">
                <div class="h-primary" style="margin-bottom:27px;">Q1 STATS</div>

                <div id="s4" style="display:none;">
                  <table class="table table-condensed">
                    <tr>
                      <td class="left">App Unit Price (per Q)</td>
                      <td class="right"><b><%= number_to_currency($PRODUCT_UNIT_COST, precision: 0) %></b></td>
                    </tr>
                    <tr class="">
                      <td class="left">
                        Max User Capacity
                        <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= $HELP_TEXT["max_user_capacity"]%>"></i>
                      </td>
                      <td class="right font-invert progress-bar-1"><b><%= 0 %></b></td>
                    </tr>
                    <tr class="">
                      <td class="left">
                        Demand Generated
                        <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= $HELP_TEXT["demand_generated"]%>"></i>
                      </td>
                      <td class="right font-invert progress-bar-2"><b><%= 0 %></b></td>
                    </tr>
                    <tr class="">
                      <td class="left">
                        Users Supported
                        <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= $HELP_TEXT["users_supported"]%>"></i>
                      </td>
                      <td class="right font-invert progress-bar-3"><b><%= 0 %></b></td>
                    </tr>
                    <tr>
                      <td class="left">
                        <b>Q<%= @current_quarter %> Active Users</b>
                        <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= $HELP_TEXT["active_users"]%>"></i>
                      </td>
                      <td class="right font-invert progress-bar-secondary"><b><%= 0 %></b></td>
                    </tr>
                  </table>
                </div>

              </div>

              <!-- APP R&D -->
              <div class="col-sm-4 center">
                <div class="h-primary" style="margin-bottom:-5px;">APP R&D CENTER</div>
                
                <div id="s5" style="display:none;">
                  <% 3.times do |i| %>
                  <% stage_no = $RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:stage_no] %>
                    <% stage_range = $RND_STAGES.detect { |points,k| k[:stage_no] === stage_no }.first %>
                    <% rnd_progress_ratio = (@sample_rnd_total_points[i]-stage_range.begin)*100/(stage_range.end-stage_range.begin) %>
                    <div class="cpi-goal" style="margin-top:30px;">  
                      <div class="pull-left" style="margin-left:36px;">
                        R&D on <%= $SKILL_NAMES[i] %>
                        <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= $HELP_TEXT[i]%>"></i>
                      </div>
                      <div class="pull-right"><%= @sample_rnd_total_points[i]-stage_range.begin %>
                        <span class="font-secondary">/<%= stage_range.end-stage_range.begin+1 %></span>
                      </div>
                      <div class="progress-level progress-bar-secondary center">
                        <% case i %>
                        <% when 0 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_1])*100).to_i %>
                        <% when 1 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_2])*100).to_i %>
                        <% when 2 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_3])*100).to_i %>
                        <% end %>
                      </div>
                      <div class="progress" style="margin-bottom:2px;">
                        <div class="progress-bar progress-bar-4" role="progressbar" aria-valuenow="<%= rnd_progress_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= rnd_progress_ratio %>%">
                          <span class="sr-only"><%= rnd_progress_ratio %>%</span>
                        </div>
                      </div>
                      <div class="pull-left font-label">
                        <%= project %> has
                        <% case i %>
                        <% when 0 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_1])*100).to_i %>% <%= $RND_BENEFITS[i] %>
                        <% when 1 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_2])*100).to_i %>% <%= $RND_BENEFITS[i] %>
                        <% when 2 %>
                        <%= (($RND_STAGES.detect { |points,stage| points === @sample_rnd_total_points[i] }.last[:multiplier_3])*100).to_i %>% <%= $RND_BENEFITS[i] %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>

              </div>

              <div class="col-md-12" style="padding:0;">
                
                <!-- PERFORMANCE -->
                <div id="s3i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
                  <b>vChat's Performance Statement:</b>
                  <br>In addition to the cumulative profit, this section shows the quaterly breakdown of vChat's expenses and revenue.
                  <br>Note: Negative amount or loss is shown inside bracket.
                </div>
                <div id="s3i2" class="alert alert-warning alert-cushion" role="alert" style="display:none;">
                  <b>Behind the scenes Calculations:</b>
                  <br> <b>[1] Expenses</b> are the total salary vChat pays you and other project members based on the total number of hours of work they do. Each person's salary is based on their skill level. Expenses are updated every month.
                  <br> <b>[2] Revenue</b> is calculated at the end of every quarter by multiplying the total number of user sales vChat makes with the App's unit cost.
                  <br> <b>[4] Active Users</b> is the total number of paying users of vChat currently has. If you support them they will pay for vChat next quarter as well!
                </div>

                <!-- STATS -->
                <div id="s4i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
                  <b>vChat's Current Quarter's Stats:</b>
                  <br> <b>[1] Max User Capacity</b> is the maximum number of users your app can currently serve.  
                  <br> &nbsp; &nbsp;&nbsp; This is a cumulative number, which means that your capacity keeps on increasing every time you work on it.
                  <br> <b>[2] Demand Generated</b> is the potential vChat sales forcasted for this quarter.  
                  <br> &nbsp; &nbsp;&nbsp; At the end of a quarter sales happen, vChat generates revenue and this demand gets reset to 0 for the next quarter.
                  <br> <b> [3] Users Supported</b> are the number of vChat users you have already provided support for in this quarter.  
                  <br> &nbsp; &nbsp;&nbsp; At the end of a quarter new set of users join vChat and this number gets reset to 0 for the next quarter.
                </div>
                <div id="s4i2" class="alert alert-warning alert-cushion" role="alert" style="display:none;">
                  <b>Behind the scenes Calculations:</b>
                  <br> <b>[1] Max User Capacity:</b> Doing App Dev for vChat increases its capacity. 
                  <br> &nbsp; &nbsp;&nbsp; This increase also depends on vChat's technical stability (R&D App Dev).
                  <br> <b>[2] Demand Generated:</b> Doing Marketing for vChat increases its Demand. 
                  <br> &nbsp; &nbsp;&nbsp; This increase also depends on vChat's desireability (R&D Marketing).
                  <br> <b>[3] Users Supported:</b> Doing Support for vChat increases this number. 
                  <br> &nbsp; &nbsp;&nbsp; This increase also depends on vChat's user satisfaction (R&D Support).
                  <br> <b>[4] Active Users:</b> is the the sum of new users and old users.<br> &nbsp; &nbsp;&nbsp; New users is based on the demand generated this quarter. 
                  <br> &nbsp; &nbsp;&nbsp; Old users are the number of previous active users that you supported. 
                  <br> &nbsp; &nbsp;&nbsp; Active users cannot exceed your app's maximum user capacity.
                </div>

                <!-- APP R&D -->
                <div id="s5i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
                  <b>vChat's R&D progress:</b>
                  <br>This section shows vChat's technical stability, desireability and user satisfaction levels.
                </div>
                <div id="s5i2" class="alert alert-warning alert-cushion" role="alert" style="display:none;">
                  <b>Behind the scenes Calculations:</b>
                  <br> <b>R&D Level: </b>Doing R&D for vChat across the three types increases their respective levels.
                </div>

              </div>


            </div>
          
          </div>

          <!-- MEMBERS DETAILS -->
          
            <div class="content-container">
              <div class="panel-secondary">
                <div class="panel-title">
                  <%= project %> :: Members
                </div>
              </div>

              <div id="s6" class="panel-body" style="display:none;">
                <table class="table table-condensed table-hover" style="margin:10px 0;">
                  <tbody>
                    <% @sample_players.each do |p| %>
                      <tr class="<%= "active" if p == "You" %>">
                        <td style="padding:15px;">
                          <b><%= p %></b>
                        </td>
                    <% end %>
                  </tbody>
                </table>

                <div id="s6i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
                  <b>vChat's Team-Member Information:</b>
                  <br>This sections lists all the members you will be working with on vChat. 
                  <br>These are your team mates and all of you will be discussing what needs to be done, by whom based on everyone's skill set. 
                  <br>These discussions will happen through a team-chat window you login to once the game begins!
                </div>
              </div>

            </div>


        </div>
      <% end %>

    </div>

    <div id="s2i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
      <b>Your Project-specific Details:</b>
      <br>Different project details can be accessed by clicking on their link located in your personal dashboard.
      <br>These details include an App's specific performance stats as well as other project-members information.
      <br> &nbsp; &nbsp; Try clicking on "vTunes" and "vChat" to toggle between them.
    </div>

  </div>


<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script type="text/javascript">
  function show(target, source){
    for(var i = 0; i < target.length; i++) {
      document.getElementById(target[i]).style.display = 'block';
    }
    for(var i = 0; i < source.length; i++) {
      document.getElementById(source[i]).style.display = 'none';
    }
  }

  function hide(target, source){
    for(var i = 0; i < target.length; i++) {
      document.getElementById(target[i]).style.display = 'none';
    }
    for(var i = 0; i < source.length; i++) {
      document.getElementById(source[i]).style.display = 'block';
    }
  }
</script>