  <div id="step2" class="alert alert-info" role="alert">
    <b>STEP 2/4: &nbsp;&nbsp;-----&nbsp;&nbsp; UNDERSTANDING YOUR WORK CALENDAR &nbsp;&nbsp;---- </b>
    <button id="s1n" onclick="show(['s2n','s2p','s2','s2i','s2i2'],['s1n','s1p','s1','s1i'])" class="btn btn-help pull-right">Begin Step 2</button>
    <a id="s1p" href="<%= tutorial_personal_dashboard_path %>" class="btn btn-help pull-right">Back to Step 1</a>

    <button id="s2n" onclick="show(['s3n','s3p','s3','s3i'],['s2n','s2p','s2i','s2i2'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s2p" onclick="hide(['s2n','s2p','s2','s2i','s2i2'],['s1n','s1p','s1','s1i'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <button id="s3n" onclick="show(['s4n','s4p','s4','s4i','s4i2'],['s3n','s3p','s3','s3i'])" class="btn btn-help pull-right" style="display:none;">Next</button>
    <button id="s3p" onclick="hide(['s3n','s3p','s3','s3i'],['s2n','s2p','s2i','s2i2'])" class="btn btn-help pull-right" style="display:none;">Previous</button>

    <a id="s4n" href="<%= tutorial_project_information_path %>" class="btn btn-help pull-right" style="display:none;">Go to Step 3</a>
    <button id="s4p" onclick="hide(['s4n','s4p','s4','s4i','s4i2'],['s3n','s3p','s3','s3i'])" class="btn btn-help pull-right" style="display:none;">Previous</button>


  </div>

  <!-- SIDEBAR -->
  <div class="col-xs-12 col-sm-3" style="padding:0px;">

    <!-- NAME -->
    <div class="content-container" style="min-height:46px;">
      <div class="panel-primary">
        <div class="panel-title">
          Your Screen Name
        </div>
      </div>
    </div>
 
    <div class="content-container" style="min-height:557px;">

      <div class="panel-group" id="accordion-info" role="tablist" aria-multiselectable="true">
        
        <!-- LINKS -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab" >
            <div class="panel-title">
              Vandeley Apps
            </div>
          </div>
          
          <div id="links" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              <b>My Projects</b>
              <% @sample_projects.each do |project| %>
                <br>&nbsp;&nbsp;
                <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                <a href="#<%= project %>" aria-controls="<%= project %>" role="tab" data-toggle="tab" class="primary-a"><%= project %></a>
              <% end %>
              <br><br>
              <a href="#my_schedule" aria-controls="my_schedule" role="tab" data-toggle="tab" class="primary-a">
                <b>My Work Calendar</b>
              </a>
            </div>
          </div>
        </div>

        <!-- SALARY -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab" >
            <div class="panel-title">
              Performance
            </div>
          </div>
          
          <div id="performance" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              <div class="h-primary"><%= number_to_currency(0, negative_format: "(%u%n)", precision: 0) %></div>
              <h3 class="center">Net Apps Profit (Q1)</h3>
            </div>
          </div>
        </div>

        <!-- SKILLS -->
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab">
            <div class="panel-title">
              My Skill Level
            </div>
          </div>
          
          <div id="skills" class="panel-collapse" role="tabpanel">
            <div class="panel-body">
              
              <% 4.times do |i| %>
                <% level_range = $SKILL_LEVELS.detect { |points,level| level === @sample_skill_level[i] }.first %>
                <% skill_progress_ratio = (@sample_skill_total_points[i]-level_range.begin)*100/(level_range.end-level_range.begin) %>
                <div class="cpi-goal">  
                  <div class="pull-left" style="margin-left:36px;">
                    <span class="font-secondary">  <%= $SKILL_LEVELS_NAMES[@sample_skill_level[i]][:name] %></span>
                    <%= $SKILL_NAMES[i] %>
                    <% skill_p = ($SKILL_PRODUCTIVITY[i+1][@sample_skill_level[i]]/@gs_adjustment_factor).to_i %>
                    <% skill_s = ($SKILL_SALARY[i+1][@sample_skill_level[i]]/@gs_adjustment_factor).to_i %>
                    <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= "--- Level #{$SKILL_LEVELS_NAMES[@sample_skill_level[i]][:icon]} #{$SKILL_NAMES[i]} --- #{$STATS_NAMES[i]} ++ Productivity: #{skill_p} /wk Salary: $#{skill_s} /wk" %>"></i> 
                  </div>
                  <div class="pull-right">
                    <%= @sample_skill_total_points[i]-level_range.begin %><span class="font-secondary">/<%= level_range.end-level_range.begin+1 %></span>
                  </div>
                  <div class="progress-level progress-bar-<%= i+1 %> center"><%= $SKILL_LEVELS_NAMES[@sample_skill_level[i]][:icon] %></div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-<%= i+1 %>" role="progressbar" aria-valuenow="<%= skill_progress_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill_progress_ratio %>%">
                      <span class="sr-only"><%= skill_progress_ratio %>%</span>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>

      </div>
    </div>

    <a target="_blank" onclick="return false" href="#">Link to Team Chat</a>

  </div>

  <!-- MAIN CONTAINER: DEMO -->
  <div id="s1" class="col-xs-12 col-sm-9" style="padding-right:0px;">
    <div class="content-container" style="min-height:46px;">
      <div class="panel-primary">
        <div class="panel-title">
          Work Calendar / Project Information
        </div>
      </div>
    </div>

    <div class="content-container" style="min-height:577px;">
      <div id="s1i" class="alert alert-success alert-cushion center" role="alert">
        <b>Your Work Dashboard Area</b><br>
        Your Work Calender and Projects' Information,<br>both are displayed in this area.
      </div>
    </div>
  </div>

  <!-- MAIN CONTAINER: CALENDER 1 -->
  <div id="s2" class="col-xs-12 col-sm-9" style="padding-right:0px; display:none;">
    <div class="content-container" style="min-height:46px;">
      <div class="panel-primary">
        <div class="panel-title">
          Work Calendar
          <a href="#" onclick="return false" class="btn btn-sm btn-invert pull-right supress-a" style = "margin: -5px; -5px 0 0"><i class="fa fa-refresh"></i> &nbsp;Refresh</a>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-secondary" role="tab" >
            <div class="panel-title">
              Quarter 1
              <i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
            </div>
          </div>
        </div>

        <!-- show 3 empty months -->
        <div id="s3" class="panel-body" style="display:none;">
          <% 3.times do |i| %>
            <div class="col-sm-4 center">
            <!-- MONTHS: SHOW PLACEHOLDER -->
              <div class="h-secondary"><%= get_month_name(i+1) %></div>
              <% 4.times do |week_no| %>
                <div class="work-container-dummy-week work-bg-secondary">
                  <div class="work-container-dummy-week-text">WEEK <%= week_no+1 %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="s3i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
          <b>Just like real-life, each month consists of 4 weeks.</b>
          <br>Again, you make project-wise task choices one month at a time. 
          <br>And after three such monthly decisions (every Quarter), each project's performance is calculated.
        </div>

        <!-- Show monthly choices -->
        <div id="s4" class="panel-body" style="display:none;">
          <div class="col-sm-4 center">
          <!-- MONTHS: SHOW OPTIONS -->
            <div class="h-primary"><%= get_month_name(1) %></div>
            <% 4.times do |work_item| %>
              <div class="work-container-form work-bg-secondary">
                <%= select_tag "skill_uses[]", grouped_options_for_select([
                            ['DO ------',[["App Dev",1],["Marketing",2],["Support",3]]],
                            ['DO R&D ------',[["R&D on App Dev",5],["R&D on Marketing",6],["R&D on Support",7]]],
                            ['IMPROVE ------',[["App Dev skills",11], ["Marketing skills",12], ["Support skills",13], ["R&D skills",14]]],
                            ['NOTHING ------',[["do nothing",-1]]]
                          ]), prompt: "--- do task ---" %>
                <%= select_tag "project_monthly_report_ids[]", grouped_options_for_select([
                        ['APP ------',[["vChat",1],["vTunes",2]]],
                        ['NOTHING ------',[["do nothing",-1]]]
                      ]), prompt: "--- choose app ---" %>
              </div>
            <% end %>

            <div class="button-padding">
              <%= button_tag(type: 'submit', class: "btn btn-sm btn-primary") do %>SAVE CHANGES<% end %>
            </div>

          </div>

          <!-- Remining 2 months -->
          <% 2.times do |i| %>
            <div class="col-sm-4 center">
            <!-- MONTHS: SHOW PLACEHOLDER -->
              <div class="h-secondary"><%= get_month_name(i+2) %></div>
              <% 4.times do |week_no| %>
                <div class="work-container-dummy-week work-bg-secondary">
                  <div class="work-container-dummy-week-text">WEEK <%= week_no+1 %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <div id="s4i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
          <b>Making Monthly Task Choices:</b>
          <br> - To keep things simplify, you have the option of choosing only two different tasks every week.
          <br> - Hence, overall you can perform upto eight different types of tasks in a month.
        </div>
        <div id="s4i2" class="alert alert-warning alert-cushion" role="alert" style="display:none;">
          <b>*** IMPORTANT ***<br>Choosing Task and Apps</b>
          <br> - You can choose to do any of the four activities: App Development, Marketing, Support or R&D, for a particular app.
          <br> &nbsp; &nbsp; Click on the '--- do task ---' dropdown to choose the task you want to perform.
          <br> &nbsp; &nbsp; Then, click on the '--- choose app ---' dropdown to assign it to the app you want to do the task for.
          <br> &nbsp; &nbsp; Remeber to hit 'Save Changes' to make sure your choices are recorded.
          <br> - Alternatively, you can also choose to not work for a app, but invest your time in improving any of your four skills. 
          <br> &nbsp; In this case, just like real-life, you still have to choose an app that pays for the hours you've spent studying! 

          <br><br><b>Every Month will be run for 5 minutes each.</b>
          <br> - Within this time you have to discuss what needs to be done across all of your projects with your teammates,
          <br> &nbsp; enter your final choices in your work calendar and save it before time runs out.
          <br> - You can use all the available project information (shown in next step) to make strategic choices and maximize your profit!
          <br> - Finally, once the researcher signals that a month is complete - hit 'Refresh' (button at the top right corner) to continue.

        </div> 

        <!-- Remaining 3 Qs -->
        <% 3.times do |i| %>
          <div class="panel panel-default" style="margin-top:2px;">
            <div class="panel-secondary" role="tab" >
              <div class="panel-title">
                Quarter <%= i+2 %>
                <i class="fa fa-fw fa-sort pull-right" style="margin: 3px -5px 0 0;"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id="s2i" class="alert alert-success alert-cushion" role="alert" style="display:none;">
      <b>Your Work Calender:</b>
      <br>Your Work Calender is shown as the default view. 
      <br>You can also use the Navigation Link "My Work Calender" to navigate here.
    </div>
    <div id="s2i2" class="alert alert-warning alert-cushion" role="alert" style="display:none;">
      <b>*** IMPORTANT *** <br>Game Overview:</b>
      <br> [1] You and your team will be managing Vandeley Apps for four quarter (12 months).
      <br> [2] You will make project-wise task choices one month at a time. 
      <br> [3] And after three such monthly decisions (every Quarter), each project's performance is calculated.
      <br> more to follow ...
    </div>

  </div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script type="text/javascript">
  function show(target, source){
    for(var i = 0; i < target.length; i++) {
      document.getElementById(target[i]).style.display = 'block';
    }
    for(var i = 0; i < source.length; i++) {
      document.getElementById(source[i]).style.display = 'none';
    }
  }

  function hide(target, source){
    for(var i = 0; i < target.length; i++) {
      document.getElementById(target[i]).style.display = 'none';
    }
    for(var i = 0; i < source.length; i++) {
      document.getElementById(source[i]).style.display = 'block';
    }
  }
</script>
