<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :study_id %>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="form-label">Session Name</div>
      <div class="form-label">Game Codename</div>
      <div class="form-label">MTM Game Type</div>
      <div class="form-label">Length of Play</div>
      <div class="form-label">Access Condition</div>
      <div class="form-label">Game Status</div>
    </div>
    <div class="col-xs-12 col-sm-9">
      <%= f.text_field :session_name, placeholder: "identifier for the researchers", class: "form-control" %>
      <%= f.text_field :game_codename, placeholder: "identifier for players", class: "form-control" %>  
      <div class="form-control-select">
        <%= f.select :game_type, $GAME_TYPES, include_blank: "--- choose game type ---", class: "form-control" %>
      </div> 
      <%= f.number_field :game_length, placeholder: "no. of months (no. of quarters * 3)", class: "form-control" %> 
      <p class="form-radio">
        <%= f.radio_button(:access_treatement, true) %>
        <%= label_tag(:access_treatement_true, "Treatment") %> &nbsp; &nbsp;
        <%= f.radio_button(:access_treatement, false) %>
        <%= label_tag(:access_treatement_false, "Control") %>
      </p>
      <%= f.hidden_field :game_status %>
      <% if params[:game_status] == -1 || @game.game_status == -1 %>
        <%= f.text_field :game_status, value: "Not Started", disabled: "disabled", class: "form-control" %>
      <% else %>
        <%= f.text_field :game_status, value: "In Progress", disabled: "disabled", class: "form-control" %>
      <% end %> 
    </div>
  </div>

  <div class="row">
    <div class="center col-sm-6 col-sm-offset-3 button-padding">
      <%= f.submit class: "btn btn-block btn-green" %>
    </div>
  </div>
<% end %>
