<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Session</th>
      <th>Game type</th>
      <th>Game length</th>
      <th>Game status</th>
      <th>Access treatement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.session_name %></td>
        <td><%= game.game_type %></td>
        <td><%= game.game_length %></td>
        <td><%= game.game_status %></td>
        <td><%= game.access_treatement %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

