<div class="col-sm-12 col-md-8 col-md-offset-2">
	<div class="secondary-nav secondary-nav-invert">
		<a href="<%= root_path %>"><i class="fa fa-2x fa-home content-list-icon-primary pull-left"></i></a>
		<h2 class="font-invert"><b><%= @study.title %></b></h2>
		<h3 class="font-invert">This study has <%= pluralize( @study.games.count, 'games' ) %>.</h3>
	</div>

	<!-- CURRENT GAMES -->
		<div class="content-container">
			<div class="panel-secondary">
  		  <div class="panel-title">
  			  Current: <%= pluralize( @games_in_progress.count, 'Game' ) %>
  		  </div>
  		</div>

  		<div class="panel-body">

  			<table class="table table-condensed table-hover">
  			  <thead>
  			    <tr>
  			      <th>Created on</th>
  			      <th>Session Name</th>
  			      <th>Codename</th>
  			      <th>MTM Type</th>
  			      <th colspan="1">Condition</th>
  			      <th colspan="1"></th>
  			    </tr>
  			  </thead>

  			  <tbody>
  			    <% @games_in_progress.sort_by(&:created_at).reverse.each.with_index do |game, i| %>
  			      <tr>
  			        <td><%= game.created_at.strftime("%b %d, %Y") %></td>
  			        <td class="one-line-cell"><%= game.session_name %></td>
  			        <td><%= game.game_codename %></td>
  			        <td><%= $GAME_TYPES_LOOKUP[game.game_type][:name] %></td>
  			        <td><%= if game.access_treatement then "Treatment" else "Control" end %></td>
  			        <td class="center <%= if game.game_status > 0 then "panel-green" elsif game.game_status == 0 then "panel-orange" end %>"><a href="<%= game_path(game) %>"><i class="fa fa-arrow-right"></a></td>
  			      </tr>
  			    <% end %>
  			  </tbody>
  			</table>

  			<%= link_to controller: "games", action: "new", study_id: @study.id do %>
					<div class="center col-sm-6 col-sm-offset-3">
	          <button type="button" class="btn btn-block btn-green">+ ADD GAME</button>
	        </div>
				<% end %>

  		</div>
		</div>

	<!-- UNASSIGNED ACTIVE PLAYERS -->
		<% if @active_users.count > 0 %>
			<div class="content-container">
				<div class="panel-secondary">
	  		  <div class="panel-title">
	  			  Unassigned ACTIVE: <%= pluralize( @active_users.count, 'Player' ) %>
	  		  </div>
	  		</div>

	  		<div class="panel-body">

	  			<table class="table table-condensed table-hover">
	  			  <thead>
	  			    <tr>
	  			      <th>Name</th>
	  			      <th>Username</th>
	  			      <th colspan="1"></th>
	  			    </tr>
	  			  </thead>

	  			  <tbody>
	  			    <% @active_users.each do |user| %>
	  			      <tr>
	  			        <td><%= user.player_name %></td>
	  			        <td><%= user.player_screenname %></td>
	  			        <td>
	        	  			<%= form_tag("/inactivate_user", method: :post) do %>
	        	  				<%= hidden_field_tag(:user_id, user.id) %>
	        		        <%= submit_tag "DEACTIVATE", class: "btn btn-sm btn-block btn-red" %>
	        					<% end %>
	  			        </td>
	  			      </tr>
	  			    <% end %>
	  			  </tbody>
	  			</table>

	  		</div>
			</div>
		<% end %>

		<!-- LOGGED IN PLAYERS WHO ARE IN SURVEY STATUS -->
		<% if @logged_users.count > 0 %>
			<div class="content-container">
				<div class="panel-secondary">
	  		  <div class="panel-title">
	  			  Logged SURVEY: <%= pluralize( @logged_users.count, 'Player' ) %>
	  		  </div>
	  		</div>

	  		<div class="panel-body">

	  			<table class="table table-condensed table-hover">
	  			  <thead>
	  			    <tr>
	  			      <th>Name</th>
	  			      <th>Username</th>
	  			      <th colspan="1"></th>
	  			    </tr>
	  			  </thead>

	  			  <tbody>
	  			    <% @logged_users.each do |user| %>
	  			      <tr>
	  			        <td><%= user.player_name %></td>
	  			        <td><%= user.player_screenname %></td>
	  			        <td>
	        	  			<%= form_tag("/go_offline_now", method: :post) do %>
	        	  				<%= hidden_field_tag(:user_id, user.id) %>
	        	  				<%= hidden_field_tag(:by, 'researcher') %>
	        		        <%= submit_tag "LOGOUT USER", class: "btn btn-sm btn-block btn-red" %>
	        					<% end %>
	  			        </td>
	  			      </tr>
	  			    <% end %>
	  			  </tbody>
	  			</table>

	  		</div>
			</div>
		<% end %>

	<!-- COMPLETED GAMES -->
		<div class="content-container">
			<div class="panel-secondary">
  		  <div class="panel-title">
  			  Completed: <%= pluralize( @games_completed.count, 'Game' ) %>
  		  </div>
  		</div>

  		<div class="panel-body">

  			<table class="table table-condensed table-hover">
  			  <thead>
  			    <tr>
  			      <th>Created on</th>
  			      <th>Session Name</th>
  			      <th>Codename</th>
  			      <th>MTM Type</th>
  			      <th colspan="1">Condition</th>
  			      <th colspan="1"></th>
  			    </tr>
  			  </thead>

  			  <tbody>
  			    <% @games_completed.sort_by(&:created_at).reverse.each.with_index do |game, i| %>
  			      <tr>
  			        <td><%= game.created_at.strftime("%b %d, %Y") %></td>
  			        <td class="one-line-cell"><%= game.session_name %></td>
  			        <td><%= game.game_codename %></td>
  			        <td><%= $GAME_TYPES_LOOKUP[game.game_type][:name] %></td>
  			        <td><%= if game.access_treatement then "Treatment" else "Control" end %></td>
  			        <td><a href="<%= game_path(game) %>"><i class="fa fa-arrow-right"></a></td>
  			      </tr>
  			    <% end %>
  			  </tbody>
  			</table>

  		</div>
		</div>

	<!-- Projects Distribution -->
		<div class="content-container">
			<div class="panel-secondary">
  		  <div class="panel-title">
  			  Distribution of Projects (N)
  		  </div>
  		</div>

  		<div class="panel-body">
  			<table class="table table-condensed table-hover table-bordered center">
  			  <tbody>
  			    <tr>
  			      <td class="table-right-border" style="width:20%;"></td>
  			      <td class="center" style="width:30%;"><b>No Access</b></td>
  			      <td class="center" style="width:30%;"><b>Access</b></td>
  			      <td></td>
  			    </tr>

						<tr>
							<td class="table-top-border table-right-border"><b>Low MTM variety</b></td>
							<% 2.times do |i| %>
								<td class="table-top-border"><%= @pa_lmtm[i] %></td>
							<% end %>
							<td class="table-top-border"><%= @pa_lmtm.sum %></td>
						</tr>

			      <tr>
			        <td class="table-right-border"><b>High MTM variety</b></td>
			        <% 2.times do |i| %>
			        	<td><%= @pa_hmtm[i] %></td>
							<% end %>
			        <td><%= @pa_hmtm.sum %></td>
			      </tr>

			      <tr>
			      	<td class="table-right-border"></td>
							<% 2.times do |i| %>
			        	<td><%= @projects_access[i] %></td>
							<% end %>
			      	<td><b><%= @projects_access.sum %></b></td>
			      </tr>
  			  </tbody>
  			</table>

				<table class="table table-condensed table-hover table-bordered center">
  			  <tbody>
  			    <tr>
  			      <td class="table-right-border" style="width:20%;"></td>
							<% $TEAM_COMPOSITIONS.each do |tc| %>
			        	<td class="center" style="width:20%;"><b><%= tc %></b></td>
							<% end %>
  			      <td></td>
  			    </tr>

			      <tr>
			        <td class="table-top-border table-right-border"><b>Low MTM variety</b></td>
							<% 3.times do |i| %>
			        	<td class="table-top-border"><%= @ptc_lmtm[i] %></td>
							<% end %>
			        <td class="table-top-border"><%= @ptc_lmtm.sum %></td>
			      </tr>

			      <tr>
			        <td class="table-right-border"><b>High MTM variety</b></td>
			        <% 3.times do |i| %>
			        	<td><%= @ptc_hmtm[i] %></td>
							<% end %>
			        <td><%= @ptc_hmtm.sum %></td>
			      </tr>

			      <tr>
			      	<td class="table-right-border"></td>
							<% 3.times do |i| %>
			        	<td><%= @projects_compostion[i] %></td>
							<% end %>
			      	<td><b><%= @projects_compostion.sum %></b></td>
			      </tr>
  			  </tbody>
  			</table>
  		</div>
		</div>

	<!-- Profits Distribution -->
		<div class="content-container">
			<div class="panel-secondary">
  		  <div class="panel-title">
  			  Distribution of Profits (DV)
  		  </div>
  		</div>

  		<div class="panel-body">
  			<table class="table table-condensed table-hover table-bordered center">
  			  <tbody>
  			   	<tr>
  			      <td class="table-right-border" style="width:20%;"></td>
  			      <td class="center" style="width:30%;"><b>No Access</b></td>
  			      <td class="center" style="width:30%;"><b>Access</b></td>
  			      <td></td>
  			    </tr>

						<tr>
			        <td class="table-top-border table-right-border"><b>Low MTM variety</b></td>
							<% 2.times do |i| %>
			        	<td class="table-top-border"><%= @pa_lmtm_profits[i]/@pa_lmtm[i] unless @pa_lmtm[i] == 0 %></td>
							<% end %>
			        <td class="table-top-border"><%= @pa_lmtm_profits.sum/@pa_lmtm.sum unless @pa_lmtm.sum == 0 %></td>
			      </tr>

			      <tr>
			        <td class="table-right-border"><b>High MTM variety</b></td>
			        <% 2.times do |i| %>
			        	<td><%= @pa_hmtm_profits[i]/@pa_hmtm[i] unless @pa_hmtm[i] == 0 %></td>
							<% end %>
			        <td><%= @pa_hmtm_profits.sum/@pa_hmtm.sum unless @pa_hmtm.sum == 0 %></td>
			      </tr>

			      <tr>
			      	<td class="table-right-border"></td>
							<% 2.times do |i| %>
			        	<td><%= (@pa_lmtm_profits[i] + @pa_hmtm_profits[i])/@projects_access[i] unless @projects_access[i] == 0 %></td>
							<% end %>
			        <td><b><%= (@pa_lmtm_profits.sum + @pa_hmtm_profits.sum)/@projects_access.sum unless @projects_access.sum == 0 %></b></td>
			      </tr>
  			  </tbody>
  			</table>

				<table class="table table-condensed table-hover table-bordered center">
  			  <tbody>
  			    <tr>
  			      <td class="table-right-border" style="width:20%;"></td>
							<% $TEAM_COMPOSITIONS.each do |tc| %>
			        	<td class="center" style="width:20%;"><b><%= tc %></b></td>
							<% end %>
  			      <td></td>
  			    </tr>

			      <tr>
			        <td class="table-top-border table-right-border"><b>Low MTM variety</b></td>
							<% 3.times do |i| %>
			        	<td class="table-top-border"><%= @ptc_lmtm_profits[i]/@ptc_lmtm[i] unless @ptc_lmtm[i] == 0 %></td>
							<% end %>
			        <td class="table-top-border"><%= @ptc_lmtm_profits.sum/@ptc_lmtm.sum unless @ptc_lmtm.sum == 0 %></td>
			      </tr>

			      <tr>
			        <td class="table-right-border"><b>High MTM variety</b></td>
			        <% 3.times do |i| %>
			        	<td><%= @ptc_hmtm_profits[i]/@ptc_hmtm[i] unless @ptc_hmtm[i] == 0 %></td>
							<% end %>
			        <td><%= @ptc_hmtm_profits.sum/@ptc_hmtm.sum unless @ptc_hmtm.sum == 0 %></td>
			      </tr>

			      <tr>
			      	<td class="table-right-border"></td>
							<% 3.times do |i| %>
			        	<td><%= (@ptc_lmtm_profits[i] + @ptc_hmtm_profits[i])/@projects_compostion[i] unless @projects_compostion[i] == 0 %></td>
							<% end %>
			        <td><b><%= (@ptc_lmtm_profits.sum + @ptc_hmtm_profits.sum)/@projects_compostion.sum unless @projects_compostion.sum == 0 %></b></td>
			      </tr>
  			  </tbody>
  			</table>
  		</div>
		</div>


<%= link_to 'Edit Study', edit_study_path(@study) %><br>
<%= link_to 'Projects CSV', study_path(@study, content: "project", format: "csv") %><br>
<%= link_to 'Players CSV', study_path(@study, content: "player", format: "csv") %><br>
