<!-- GAME NOT SETUP: SHOW NOTHING -->
  <% if @player.game.game_status == -1 %>

<!-- GAME COMPLETED: ADMINISTER SURVEYS -->
  <% elsif @player.game.game_status == 100 %>

  <!--  if @player.measure_workload.is_complete == false
          render "players/measure_workload"
        elsif @player.measure_austin.is_complete == false
          render "players/measure_austin" -->

    <% if @player.measure_lewis.sort_by(&:id)[0].is_complete == false %>
      <%= render "players/measure_lewis", lewis_no: 0 %>
    <% elsif @player.teams.count > 1 and @player.measure_lewis.sort_by(&:id)[1].is_complete == false %>
      <%= render "players/measure_lewis", lewis_no: 1 %>
    <% else %>
      <%= render "players/game_results" %>
    <% end %>

<!-- GAME IN PROGRESS: SHOW GAME -->
  <% else %> 

    <!-- SIDEBAR -->
      <div class="col-xs-12 col-sm-3" style="padding:0px;">

        <!-- NAME -->
          <div class="content-container" style="min-height:46px;">
            <div class="panel-primary">
              <div class="panel-title">
                <%= @player.player_screenname %>
                <!-- CHAT LINK -->
                  <a target="_blank" href="<%= @player.game.study.chat_link %>" class="btn btn-sm btn-invert pull-right supress-a" style = "margin: -5px -9px 0 0;"><i class="fa fa-lg fa-comments"></i> &nbsp;Chat</a>

                  <!-- https://cmukwd.slack.com/messages/general/team/<%= @player.user.first_name %>/ -->
              </div>
            </div>
          </div>
     
          <div class="content-container">

            <div class="panel-group" id="accordion-info" role="tablist" aria-multiselectable="true">
              
        <!-- PROJECT LINKS -->
              <div class="panel panel-default">
                  <div class="panel-secondary" role="tab" >
                    <div class="panel-title">
                      Vandelay Apps
                    </div>
                  </div>
                
                <div id="links" class="panel-collapse" role="tabpanel">
                  <div class="panel-body">
                    <b>My Projects</b>
                    <% @player.teams.each do |team| %>
                      <!-- <b><%= team.team_name %></b> -->
                      <% team.projects.sort_by(&:id).each do |project| %>
                        <br>&nbsp;&nbsp;
                        <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;
                        <a href="#<%= project.project_name %>" aria-controls="<%= project.project_name %>" role="tab" data-toggle="tab" class="primary-a"><%= project.project_name %></a>
                      <% end %>
                    <% end %>
                    <br><br>
                    <a href="#my_schedule" aria-controls="my_schedule" role="tab" data-toggle="tab" class="primary-a">
                      <b>My Work Calendar</b>
                    </a>
                  </div>
                </div>
              </div>

        <!-- PERFORMANCE METRIC -->
              <div class="panel panel-default">
                  <div class="panel-secondary" role="tab" >
                    <div class="panel-title">
                      Performance
                    </div>
                  </div>
                
                <div id="performance" class="panel-collapse" role="tabpanel">
                  <div class="panel-body">
                    <div class="h-primary"><%= number_to_currency(@player_project_profit, negative_format: "(%u%n)", precision: 0) %></div>
                    <h3 class="center">Net Apps Profit (Q<%= @current_quarter-1 %> end)</h3>
                  </div>
                </div>

                <!-- <div id="performance" class="panel-collapse" role="tabpanel">
                  <div class="panel-body">
                    <div class="h-primary"><i class="fa fa-usd"></i> <%= @player.salary_total %></div>
                    <h3 class="center">Total Salary Earned</h3>
                  </div>
                </div> -->

              </div>

        <!-- PLAYER SKILLS -->
              <div class="panel panel-default">
                <div class="panel-secondary" role="tab">
                  <div class="panel-title">
                    My Skill Set
                  </div>
                </div>
                
                <div id="skills" class="panel-collapse" role="tabpanel">
                  <div class="panel-body">
                    
                    <% 4.times do |i| %>
                      <% level_range = $SKILL_LEVELS.detect { |points,level| level === @player.skill_level[i] }.first %>
                          <!-- [-level_range.begin] for both -->
                      <% skill_progress_ratio = (@player.skill_total_points[i])*100/(level_range.end) %>
                      <div class="cpi-goal" style=<%= if i == 0 then "margin-top:5px;" else "margin-top:30px;" end %>>  
                        <div class="pull-left" style="margin-left:36px;">
                          <span class="font-secondary">  <%= $SKILL_LEVELS_NAMES[@player.skill_level[i]][:name] %></span>
                          <%= $SKILL_NAMES[i] %>
                          <% skill_p = ($SKILL_PRODUCTIVITY[i+1][@player.skill_level[i]]/@gs_adjustment_factor).to_i %>
                          <% skill_s = ($SKILL_SALARY[i+1][@player.skill_level[i]]/@gs_adjustment_factor).to_i %>
                          <i class="fa fa-info-circle font-secondary" data-toggle="tooltip" data-placement="top" title="<%= "---- Level #{$SKILL_LEVELS_NAMES[@player.skill_level[i]][:icon]} #{$SKILL_NAMES[i]} ---- Improves #{$STATS_NAMES[i]}" %>"></i> 
                          <!--  Productivity: #{skill_p} /wk Wages: $#{skill_s} /wk -->
                        </div>
                        <div class="pull-right">
                          <!-- [-level_range.begin] for both -->
                          <%= @player.skill_total_points[i] %><span class="font-secondary">/<%= level_range.end %></span>
                        </div>
                        <div class="progress-level progress-bar-<%= i+1 %> center"><%= $SKILL_LEVELS_NAMES[@player.skill_level[i]][:icon] %></div>
                        <div class="progress" style="margin-bottom:2px;">
                          <div class="progress-bar progress-bar-<%= i+1 %>" role="progressbar" aria-valuenow="<%= skill_progress_ratio %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skill_progress_ratio %>%">
                            <span class="sr-only"><%= skill_progress_ratio %>%</span>
                          </div>
                        </div>
                        <div class="pull-left font-label" style="width: 102%;">
                          <%= "You produce #{skill_p} units & cost $#{skill_s} per wk" %>
                        </div>
                      </div>
                    <% end %>

                  </div>
                </div>
              </div>

            </div>
          </div>

      </div>

    <!-- MAIN CONTAINER: TABS -->
      <div class="col-xs-12 col-sm-9" style="padding-right:0px;">
        
        <div class="tab-content">
          
        <!-- TAB 1: WORK SCHEDULE -->
          <div role="tabpanel" class="tab-pane active" id="my_schedule">
            
            <!-- TAB NAME -->
              <div class="content-container" style="min-height:46px;">
                <div class="panel-primary">
                  <div class="panel-title">
                    Work Calendar
                    <a href="<%= player_path(@player) %>" class="btn btn-sm btn-invert pull-right supress-a" style = "margin: -5px -9px 0 0;"><i class="fa fa-refresh"></i> &nbsp;Refresh</a>
                  </div>
                </div>
              </div>

            <!-- SHOW PLAYER SCHEDULE -->
              <div class="content-container">
                <%= render "players/work_schedule" %>
              </div>

          </div>

        <!-- TAB 2-N: PROJECTS -->
          <% @player_projects.each do |project| %>
            <div role="tabpanel" class="tab-pane" id="<%= project.project_name %>">
              
            <!-- TAB NAME -->
              <div class="content-container" style="min-height:46px;">
                <div class="panel-primary">
                  <div class="panel-title">
                    <%= project.project_name %>
                    <a href="<%= player_path(@player) %>" class="btn btn-sm btn-invert pull-right supress-a" style = "margin: -5px; -9px 0 0"><i class="fa fa-refresh"></i> &nbsp;Refresh</a>
                  </div>
                </div>
              </div>

            <!-- SHOW PROJECT DETAILS -->
              <div class="content-container">
                <%= render "players/project_details", project: project %>
              </div>

            <!-- ACCESS MANIPULATION: MEMBERS DETAILS -->
              <% if !@player.game.is_paused %>

                <div class="content-container">
                  <div class="panel-secondary">
                    <div class="panel-title">
                      <%= project.project_name %> :: Member's skills
                    </div>
                  </div>

                  <div class="panel-body">

                    <table class="table table-condensed" style="margin:10px 0;">
                      <thead>
                        <tr>
                          <th></th>
                          <% 4.times do |i| %>
                            <th class="center"><%= $SKILL_NAMES[i] %></th>
                          <% end %>
                        </tr>
                      </thead>

                      <tbody>
                        <% project.team.players.sort_by(&:id).each do |p| %>
                          <tr>
                            <td class="<%= "active" if p.user == current_user %>" style="padding:15px;">
                              <b><%= p.player_screenname %></b>
                            </td>
                            <% 4.times do |i| %>
                              <td class="col-md-3" style="padding:9px;">
                                <!-- TREATMENT CONDITON: SHOW SKILLS -->
                                  <% if @player.game.access_treatement or p.user == current_user %>
                                    <% if p.skill_level[i] < 2 %>
                                      <div class="progress-level progress-bar-secondary center" style="line-height: 2.3; margin: 0 auto; width:80%; opacity:0.2"><%= $SKILL_LEVELS_NAMES[p.skill_level[i]][:name] %></div>
                                    <% elsif p.skill_level[i] > 3 %>
                                      <div class="progress-level progress-bar-<%= i+1 %> center" style="line-height: 2.3; margin: 0 auto; width:80%; opacity:1"><%= $SKILL_LEVELS_NAMES[p.skill_level[i]][:name] %></div>
                                    <% else %>
                                      <div class="progress-level progress-bar-<%= i+1 %> center" style="line-height: 2.3; margin: 0 auto; width:80%; opacity:0.4"><%= $SKILL_LEVELS_NAMES[p.skill_level[i]][:name] %></div>
                                    <% end %>

                                <!-- CONTROL CONDITON: SHOW ONLY MEMBER NAMES -->
                                  <% else %>
                                    <div class="progress-level progress-bar-secondary center" style="line-height: 2.3; margin: 0 auto; width:80%; opacity:0.2">?</div>
                                  <% end %>
                               
                              </td>
                            <% end %>
                        <% end %>
                      </tbody>
                    </table>

                  </div>

                </div>

              <% end %>


            </div>
          <% end %>

        </div>

      </div>

  <% end %>

<!-- Script for activating TOOLTIPS -->
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>