<!DOCTYPE html>
<html>
<head>
  <title>Knowledge Worker's Game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<!-- RENDER HEADER -->
	<%= render "layouts/header" %>

	<!-- RENDER BODY -->
	<div class="container">	
		<% flash.each do |name,msg| %>
			<%= content_tag(:div, msg, class: "alert alert-success g-alert") %>
<!-- 			<button type="button" class="close pull-right" style="margin: -57px 20px 0 0;">
				<a href="<%= request.referrer %>" class="supress-a">&times;</a>
			</button> -->
		<% end %>
			
		<%= yield %>
	</div>

	<!-- RENDER FOOTER -->
	<%= render "layouts/footer" %>
</body>
</html>

<script type="text/javascript">
	$(".g-alert").fadeTo(2000, 500).slideUp(500, function(){
    $(".g-alert").slideUp(500);
	});
</script>
